body {
	background-color: #80ABD5;
}
svg {
	margin: auto;
	position: relative;

}

.wrapper {
	border: solid black 1px;
	position: fixed;
	width: 100%;
	top: -50px;
	left: -3px;
}




#board { 
	position: relative;
    -skrollr-animation-name:animation1;
}
@-skrollr-keyframes animation1 {
    0 {
        transform:translate(-200%, -50%) scale(.00001);
    }

    900 {
        transform:translate(0%, 0%) scale(1);
    }
	1200 {
        transform:translate(0%, 0%) scale(1);
    }
    2000 {
    	transform:translate(10%, 10%) scale(10);
    }
}

